*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*Header*/
header{
    background-color:white;
    padding: 5px;
}
header img,input{
    padding: 5px;
}
header .accesibilidad{
    display: inline;
}
.accesibilidad img{
    float: right;
    margin: 3px;
}

 /*Busqueda*/

 .busqueda{
float: right;
margin: 0;
padding: 8px;
}

.busqueda input{

height: 20px;
}

.busqueda i{
padding: 5px;
font-size: 20px;
}

.busqueda_input{
color: black;
border: 0;
outline: 0;
width: 0;
line-height: 40px;
transition: right 0.4s linear;
}

.busqueda:hover > .busqueda_input{
width: 150px;
transition: width 0.4s linear;
border-bottom:1px solid black;
}

/*Menu*/
menu{
    background-color: black;
    color:white;
}

menu  li{
    display: inline-block;
    margin: 20px;
    font-size: 16px;
}

menu li:hover{
    color: rgb(131, 131, 131);
}
menu ul{
    text-align: center;
}

/*Submenu*/
.submenu{
    background-color:rgba(236, 234, 234, 0.877);
}

.submenu li{
    display: inline-block;
    margin: 20px;
}

.submenu ul{
    text-align: center;
}

.submenu li p{
    font-size: 14px;   
    margin-top: 5px;
}

.submenu li:hover{
    color:rgb(37, 37, 37);
}

body{
height: 900px;
}
/*footer*/
@keyframes modal {
    from {
      top: -330px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  .caja1 {
    width: 100%;
    background-color: rgb(224, 221, 221);
    display: inline-flex;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .caja11 li:hover {
    color: rgb(131, 131, 131);
  }
  .caja1 img {
    width: 45px;
    height: 45px;
    text-align: center;
  }
  .caja11 li {
    display: inline;
    font-size: 15px;
    padding: 30px;
    margin-left: 135px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }
  /*CAJA 2*/
  .caja2 {
    width: 100%;
    background-color: black;
  }
  .caja2 img {
    width: 25px;
    height: 30px;
  }
  .caja2 span {
    color: white;
  }
  .tabla21 {
    width: 100%;
  }
  .tabla22 {
    width: 70%;
  }
  .tabla22 span:hover {
    color: rgb(131, 131, 131);
  }
  .tabla23 {
    padding-left: 36%;
  }
  .filas {
    padding: 15px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
  }
  .filas2 {
    padding: 15px;
    padding-top: 20px;
    text-align: center;
  }
  .filas2 img {
    width: 30px;
    height: 35px;
    cursor: pointer;
  }
  /*CAJA 3*/
  .caja3 {
    width: 100%;
    background-color: rgb(224, 221, 221);
  }
  .caja33 {
    width: 100%;
    padding: 10px;
  }
  .caja3 td {
    padding: 5px;
  }
  .caja3 h2 {
    font-size: 20px;
    font: 10px;
    font-weight: bold;
  }
  .letraPequeña {
    font-size: 15px;
    cursor: pointer;
  }
  .caja3 img {
    width: 35px;
    height: 30px;
  }
  .pagos {
    text-align: right;
    padding-top: 100px;
    padding-left: 40%;
  }
  .tabla31 td:hover {
    color: rgb(131, 131, 131);
  }
  .politicas {
    width: 100%;
    border-top: 1px solid rgb(131, 131, 131);
    font-style: oblique;
    font-weight: bold;
  }
  .condiciones {
    width: 100%;
    text-align: right;
    cursor: pointer;
    font-style: oblique;
    font-weight: bold;
    font-size: 12px;
    padding-right: 22px;
  }
  .condiciones td:hover {
    color: rgb(131, 131, 131);
  }
  