* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  font-size: 62.5%;
}
/*SLIDER*/
.slider {
  position: absolute;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  overflow: hidden;
  z-index: 0;
  width: 100%;
  align-items: center;
  align-content: center;
}
.top-slider {
  height: 40rem;
}
.slider li a:hover {
  background-color: transparent;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 200%;
  animation: cambio 10s infinite;
  animation-direction: alternate;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0%;
  }
  45% {
    margin-left: 0%;
  }

  50% {
    margin-left: -100%;
  }
  100% {
    margin-left: -100%;
  }
}

.image {
  height: 100%;
  background: url("../img/Deportes/nadador.jpg");
  background-size: 100% 100%;
  margin-left: 25%;
  margin-right: 25%;
}

.image2 {
  height: 100%;
  background: url("../img/Deportes/bici.jpg");
  background-size: 100% 100%;
  margin-left: 25%;
  margin-right: 25%;
}

.contenedor {
  width: 100%;
  height: 400px;
  /*margin-left: 30%;*/
}

.titulo {
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 2.3rem;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 10px;
  height: 90px;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 3;
  margin-top: 100px;
}

.titulo h1 {
  padding-left: 30%;
}
/*Section id cliente section*/
.vc_col-sm-12 {
  width: 100%;
}
.pm-column-container .pm_column-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1.5rem 0 2.3rem 7.5rem;
}
.title-section {
  padding-top: 40px;
}
.title-section {
  line-height: 24px;
  margin-bottom: 40px;
  font-size: 1.5rem;
}
.pm-column-inner {
  display: flex;
}
.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
}
.subtitulo,
.price {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #323233;
  padding-left: 1rem;
}
.description,
.subtitulo {
  padding-left: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.description {
  color: #575859;
}
.price {
  padding-top: 0.4rem;
}
.container-cards .card {
  position: relative;
  min-width: 330px;
  height: 410px;
  margin: 1.5rem;
  box-shadow: -3px 0px 8px 0px rgba(217, 213, 217, 1);
  border-radius: 10px;
}
/* las dimensiones que va a tomar la imagen*/
.top {
  min-width: 330px;
  height: 300px;
}
.comprar,
.star {
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
}
/*caja superior con efecto de box-shadow*/
.container-cards .card .box {
  position: absolute;
  border-radius: 12px;
  box-shadow: -3px 0px 8px 0px rgb(184, 187, 182);
  /* box-shadow: 0 20px 50px rgba(185, 185, 185, 0.5);*/
  transition: 0.5%;
}
/*estilo para los botones*/
.bottom1,
.bottom2 {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 25px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.botom-black,
.botom-white {
  margin-top: 8px;
  margin-left: 20px;
  display: inline-block;
}
.bottom1 {
  border: 1px solid black;
  color: white;
  background-color: #000;
}
.bottom2 {
  background-color: #fff;
  border: 1px solid black;
  color: black;
}
.content {
  padding: 1.5rem;
}
.container-cards .card .box:hover {
  transform: translateY(-35px);
  box-shadow: 0 40px 70px rgba(33, 44, 33, 0.5);
}

.content .card-stars {
  position: absolute;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}

.content .card-stars:hover {
  opacity: 0;
}

/*FIN SLIDER*/

/*algunas pruebas que estoy haciendo para las imagenes*/

.contenedor1 {
  position: relative;
  height: 290px;
  width: 290px;
  margin: 50px 20px;
  float: center;
}

.contenedor1 img {
  position: absolute;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}

.contenedor1 img.top:hover {
  opacity: 0;
}

/*footer*/
@keyframes modal {
  from {
    top: -330px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.caja1 {
  width: 100%;
  background-color: rgb(224, 221, 221);
  display: inline-flex;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.caja11 li:hover {
  color: rgb(131, 131, 131);
}
.caja1 img {
  width: 45px;
  height: 45px;
  text-align: center;
}
.caja11 li {
  display: inline;
  font-size: 15px;
  padding: 30px;
  margin-left: 135px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
/*CAJA 2*/
.caja2 {
  width: 100%;
  background-color: black;
}
.caja2 img {
  width: 25px;
  height: 30px;
}
.caja2 span {
  color: white;
}
.tabla21 {
  width: 100%;
}
.tabla22 {
  width: 70%;
}
.tabla22 span:hover {
  color: rgb(131, 131, 131);
}
.tabla23 {
  padding-left: 36%;
}
.filas {
  padding: 15px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.filas2 {
  padding: 15px;
  padding-top: 20px;
  text-align: center;
}
.filas2 img {
  width: 30px;
  height: 35px;
  cursor: pointer;
}
/*CAJA 3*/
.caja3 {
  width: 100%;
  background-color: rgb(224, 221, 221);
}
.caja33 {
  width: 100%;
  padding: 10px;
}
.caja3 td {
  padding: 5px;
}
.caja3 h2 {
  font-size: 20px;
  font: 10px;
  font-weight: bold;
}
.letraPequeña {
  font-size: 15px;
  cursor: pointer;
}
.caja3 img {
  width: 35px;
  height: 30px;
}
.pagos {
  text-align: right;
  padding-top: 100px;
  padding-left: 40%;
}
.tabla31 td:hover {
  color: rgb(131, 131, 131);
}
.politicas {
  width: 100%;
  border-top: 1px solid rgb(131, 131, 131);
  font-style: oblique;
  font-weight: bold;
}
.condiciones {
  width: 100%;
  text-align: right;
  cursor: pointer;
  font-style: oblique;
  font-weight: bold;
  font-size: 12px;
  padding-right: 22px;
}
.condiciones td:hover {
  color: rgb(131, 131, 131);
}
