/*SLIDER*/
.slider{
    position: relative;
    display:95%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow: hidden;
   
}

.slider li a:hover{
    background-color: transparent;
}

.slider ul{
    display:flex;
    padding: 0;
    width: 200%;
    animation: cambio 10s infinite;
    animation-direction: alternate;
}


.slider li{
    width: 100%;
    list-style: none;
    
}

.slider img{
    width: 100%;
}

.slider h1{
    position: relative;
    display: flex;
    align-items: center; 
    align-content: center;
    font-size: 2.3rem;
    margin-left: 35%;
    border-radius: 10px;
    height: 90px;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

@keyframes cambio{
    /*0% {margin-left: 0%;}
    35% {margin-left: 0%;}

    40% {margin-left: -100%;}
    70% {margin-left: -100%;}

    75% {margin-left: -100%;}
    100% {margin-left: -100%;}
*/
    0% {margin-left: 0%;}
    45% {margin-left: 0%;}

    50% {margin-left: -100%;}
    100% {margin-left: -100%;} 
}

.image{
    height: 100%;
    background: url("../img/nadador.jpg");
    background-size: 100% 100%;
}

.contenedor{

    width: 60%;
    height: 400px;
    margin-left: 20%;

}



/*FIN SLIDER*/